*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(14, 46, 54);
    padding: 20px 0;
}


h1{
    text-align: center;
    color: white;
    font-size: 60px;
}